{% extends 'base.html' %}
{% block content %}
  <div class="container d-flex flex-wrap">
      <div class="col-4">
        <div class="card">
          <img src="{{project.project_image.url}}" class="img-responsive" alt="Project Image">
  
    
        <div class="card-body">
          <h1 class="card-title">{{project.project_title}}</h1>
      
      
          <!-- <div class="row">
            <p>{{project.project_description | striptags}}</p>
          </div> -->
              <p class="card-text">{% autoescape on %}
                {{project.project_description |safe}}
              {% endautoescape %}</p>
        </div>
         </div>
      </div>

  </div>
{% endblock %}